# 1. Erstmal alles ignorieren
/*

# 2. AUSSER diesen Ordnern und Dateien (Whitelist)
!/models/
!/results/
!/src/
!environment.yml

# 3. Bestimmte Dinge INNERHALB des erlaubten src-Ordners wieder ignorieren
/src/.venv/
/src/.ipynb_checkpoints/
